/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### JDefault ###
target
generatorConfig.xml

/jstarter-oss/oss-starter-demo/src/main/resources/application-dev.yml
/jstarter-email/email-starter-demo/src/main/resources/application-dev.yml